/* You can add global styles to this file, and also import other style files */
body{
    background: rgba(182,147,214, .7); 
    background-image: url(assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

